a:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: powderblue;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: green;
	background-color: transparent;
	text-decoration: underline;
}